{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}

{% block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-signin" style="color: white; max-width: 400px; margin: auto;">
      {{ form.hidden_tag() }}
      <img class="mt-2 mb-2" src="../static/logo.png" style="width: 200px; height: 200px" alt="ProTender Logo" />

      <h1 class="h3 mb-3 font-weight-normal">Login to your <b>ProTender</b> Account</h1>

      {{ form.username.label() }}
      {{ form.username(class="form-control mb-3", placeholder="User Name") }}

      {{ form.password.label() }}
      {{ form.password(class="form-control mb-3", placeholder="Password") }}

      <div class="mb-3">
        <a class="btn btn-secondary" href="{{ url_for('register_page') }}">Do not have an account? Register</a>
      </div>

      {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
    </form>
  </div>
</body>
{% endblock %}
